<!-- Start Choose Section -->
<section class="choose-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-single-feature">
                    <h3>{{Model.ContentItem.Content.ChooseSection.Subtitle1.Text }}</h3>
                    <div class="choose-features-info">
                        <div class="choose-features-icon color-icon-1">
                            <i class="flaticon-programming"></i>
                        </div>
                        <p>{{Model.ContentItem.Content.ChooseSection.ChooseLink1.Text }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-single-feature">
                    <h3>{{Model.ContentItem.Content.ChooseSection.Subtitle2.Text }}</h3>
                    <div class="choose-features-info">
                        <div class="choose-features-icon color-icon-2">
                            <i class="flaticon-protection"></i>
                        </div>
                        <p>{{Model.ContentItem.Content.ChooseSection.ChooseLink2.Text }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-single-feature">
                    <h3>{{Model.ContentItem.Content.ChooseSection.Subtitle3.Text
                            }}</h3>
                            <div class="choose-features-info">
                                <div class="choose-features-icon color-icon-2">
                                    <i class="flaticon-protection"></i>
                                </div>
                                <p>{{Model.ContentItem.Content.ChooseSection.ChooseLink3.Text }}</p>
                                </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="choose-single-feature">
                    <h3>{{Model.ContentItem.Content.ChooseSection.Subtitle4.Text }}</h3>
                    <div class="choose-features-info">
                        <div class="choose-features-icon color-icon-3">
                            <i class="flaticon-technical-support"></i>
                        </div>
                        <p>{{Model.ContentItem.Content.ChooseSection.ChooseLink4.Text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
