<!-- Start Counter Section *** Samuel0322
	<section class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">{{Model.ContentItem.Content.CounterSection.Number1.Text}}</span>
								<span>{{Model.ContentItem.Content.CounterSection.Unit1.Text}}</span>
							</h2>
							<h3 class="counter-heading">{{Model.ContentItem.Content.CounterSection.Subtitle1.Text}}</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">{{Model.ContentItem.Content.CounterSection.Number2.Text}}</span>
								<span>{{Model.ContentItem.Content.CounterSection.Unit2.Text}}</span>
							</h2>
							<h3 class="counter-heading">{{Model.ContentItem.Content.CounterSection.Subtitle2.Text}}</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">{{Model.ContentItem.Content.CounterSection.Number3.Text}}</span>
								<span>{{Model.ContentItem.Content.CounterSection.Unit3.Text}}</span>
							</h2>
							<h3 class="counter-heading">{{Model.ContentItem.Content.CounterSection.Subtitle3.Text}}</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">{{Model.ContentItem.Content.CounterSection.Number4.Text}}</span>
								<span>{{Model.ContentItem.Content.CounterSection.Unit4.Text}}</span>
							</h2>
							<h3 class="counter-heading">{{Model.ContentItem.Content.CounterSection.Subtitle4.Text}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->

