
	<!-- Start Hire Section -->
	<section class="hire-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="hire-content">
						<h2>{{ Model.ContentItem.DisplayText }}</h2>
						<h5>{{ Model.ContentItem.Content.HireSection.Subtitle1.Text }}</h5>
						<h3>{{ Model.ContentItem.Content.HireSection.Subtitle2.Text }}</h3>
						<div class="hire-btn">
							<a class="btn-style-three-js" href="{{ Model.ContentItem.Content.HireSection.HireLink.Url }}">{{ Model.ContentItem.Content.HireSection.HireLink.Text }} <span></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hire Section -->