{% zone "Header" %}

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">

                    <h2>{{ Model.ContentItem.DisplayText }}</h2>
                    <ul>
                        <!--
    <li>
        <a href="/">Home</a>
    </li>
    -->
                        <li>{{ Model.ContentItem.Content.Aicoe.Subtitle.Text }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endzone %}


{{ Model.Content.ContentsMetadata.Value }}
{{ Model.Content.ContentsMetadata | shape_render }}

<div class="single-privacy m-3">
    <div class="some-class-name2">






        {{ Model.Content.HtmlBodyPart | shape_render }}
    </div>
</div>


        <!-- End Project Details Area -->
