{% zone "Header" %}
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{ "Policy Research And Cooperation" | t}}</h2>
                    
                    <ul>
                        <!--
    <li>
        <a href="/">Home</a>
    </li>
    -->
                        <li>{{ Model.ContentItem.DisplayText }}</li>
                    </ul>
    
                </div>
            </div>
        </div>
    </div>
</div>
{% endzone %}



<!-- Start Blog Details Area -->
<section class="blog-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    {% if Model.ContentItem.Content.PolicyPost.Banner.Paths != null  %}
                    <div class="article-image">
                        {{Model.ContentItem.Content.PolicyPost.Banner.Paths.first | asset_url  | resize_url: width:800, height:500, mode:'crop' | img_tag  }}
                    </div>
                    {% endif %}
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                {% if Model.ContentItem.Content.PolicyPost.Date.Value != null %}
                                <li>
                                    <span>
                                        {{"Posted On:  " | t }} {{ Model.ContentItem.Content.PolicyPost.Date.Value | date:  " %Y-%m-%d"  }}
                                    </span>
                                </li>
                                {% endif %}
                                {% if Model.ContentItem.Content.PolicyPost.Issuer.Text != null %}
                                <li>
                                    <span>{{ "Source:" | t }}</span>  <a href="#">{{ Model.ContentItem.Content.PolicyPost.Issuer.Text }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <h3>{{Model.ContentItem.DisplayText}}</h3>
                        {{ Model.Content.HtmlBodyPart | shape_render }}
                        <ul class="wp-block-gallery columns-3">
                            {% if Model.ContentItem.Content.PolicyPost.Image1.Paths != null %}
                            <li class="blocks-gallery-item">
                                <figure>
                                    {{Model.ContentItem.Content.PolicyPost.Image1.Paths.first | asset_url  | resize_url: width:800, height:500, mode:'crop' | img_tag  }}
                                </figure>
                            </li>
                            {% endif %}
                            {% if Model.ContentItem.Content.PolicyPost.Image2.Paths != null %}
                            <li class="blocks-gallery-item">
                                <figure>
                                    {{Model.ContentItem.Content.PolicyPost.Image2.Paths.first | asset_url  | resize_url: width:800, height:500, mode:'crop' | img_tag  }}
                                </figure>
                            </li>
                            {% endif %}
                        </ul>
                        {{ Model.Content.MarkdownBodyPart | shape_render }}
                    </div>
                    
                    <div class="article-footer">


                        {% if Culture.Name == "en" %}
                        {{ Model.Content.PolicyPost-TagsEN  | shape_render}}
                        {% else %}
                        {{ Model.Content.PolicyPost-Tags  | shape_render}}
                        {% endif %}

     <!--                   
    <div class="article-share">
        <ul class="social">
            <li>
                <span>
                    {{"Share:" |t }}
                </span>
            </li>
            <li>
                <a href="#"> <i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"> <i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"> <i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
    -->
                    </div>
        </div>
        </div>
   
    
                        <div class="col-lg-4 col-md-12">
                            <aside class="widget-area" id="secondary">
                                <section class="widget widget_search">
                                    <form class="search-form search-top" action="{{ "~/search" | href }}" method="get">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input name="Terms" type="text" class="search-field" placeholder="{{ "Enter your search term(s)" |t }}" autofocus>
                                        </label>
                                        <button type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </form>
                                </section>
                                <section class="widget widget_scientech_posts_thumb">
                                    <h3 class="widget-title">{{ "Recent Posts" |t }}</h3>

                                    {% assign recentBlogPosts = Queries.NewsLP | query %}
                                    {% for item in recentBlogPosts %}
                                    <article class="item">
                                        <a href="#" class="thumb">
                                            <span class="fullimage cover bg2" role="img">
                                                {{item.ContentItem.Content.NewsPost.Image.Paths.first | asset_url  | resize_url: width:80, height:80, mode:'crop' | img_tag  }}
                                            </span>
                                        </a>
                                        {% a display_for:item.ContentItem %}
                                        <div class="info">
                                            <h4 class="title usmall">
                                                {{ item | display_text }}
                                            </h4>
                                        </div>
                                        {% enda %}


                                    </article>

                                    {% endfor %}




                                </section>

                   

                                <section class="widget widget_tag_cloud">
                                    {% if Culture.Name == "en" %}
                                    {% shape "term", alias: "alias:cat-policy" %}
                                    {% shape "term", alias: "alias:tags" %}
                                    {% else %}
                                    {% shape "term", alias: "alias:cat-policy-cn" %}
                                    {% shape "term", alias: "alias:tagsCN" %}
                                    {% endif %}
                                </section>
                            </aside>
                        </div>
                    </div>
    </div>
</section>

<!-- End Blog Details Area -->
